.comenBody{
    width: 32rem;
    height: 19rem;
    background-color: white;
    
}


.puInp{
    display: flex;
    gap: 0.5rem;
}

.puInp input{
    width: 15rem;
}

.ponto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid brown;
}

.fechar:hover{
    color: red;
    cursor: pointer;
}

.segundo{
    width: 30rem;
    height: 35vh;
    padding: 1rem;
    overflow-y: auto;
}