*{
    margin: 0;
    padding: 0;
}

.headBody{
    width: fit-content;
    width: 100%;
    background:  rgba(27, 26, 29, 0.4);
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    padding: 5px 0;
}

.headScrolled {
  background: #1a1f2e; /* Ou qualquer outra cor ao rolar */
}


.componentHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

h1{
    font-size: 1.2rem;
    font-family: 'Playwrite HU', sans-serif;
    color: rgb(187, 219, 3);
}


.componentHead a {
    color: #1a1f2e;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s;
}


.headScrolled .componentHead  a {
  color: white;
}


.componentHead a:hover {
  border-bottom: 2px solid rgb(187, 219, 3);
  color: white;
}

.menuToggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}



@media (max-width: 768px) {

  .componentHead {
    position: absolute;
    top: 40px;
    right: 0;
    flex-direction: column;
    background-color: #1a1f2e;
    display: none;
    padding: 1rem 0;
    height: 45vh;

  }
   .componentHead a{
     color: wheat;
   }
  
  .componentHead.active {
    display: flex;
  }

  .menuToggle {
    display: flex;
  }
}
